@import url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "DM Sans", sans-serif;
}
.top-button {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}
.top-button button {
  background-color: #ff9f29;
  padding: 0.5rem 1rem;
  font-weight: bold;
  border-radius: 2rem;
  cursor: pointer;
}
.top-button button:hover {
  background-color: #1a4d2e;
  color: #faf3e3;
  transition: 0.2s;
  font-weight: normal;
}
.top-button button:active {
  transform: scale(0.95);
}
.wrapper {
  max-width: 75%;
  width: 100%;
  margin: 0 auto;
}
.content {
  padding-bottom: 2rem;
}
.wrapper article {
  width: 60%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #00000075;
  margin-top: 2rem;
  padding: 1rem;
  box-shadow: #9f9f9f33 0px 12px 28px 0px, #8585851a 0px 2px 4px 0px,
    #8383830d 0px 0px 0px 1px inset;
  border-radius: 1rem;
}
.wrapper p {
  color: #faf3e3;
}
.wrapper p:first-child {
  color: #ff9f29;
  padding-bottom: 1rem;
  font-size: 1.2rem;
}
